/********** Template CSS **********/
.tec {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: #6c757d; /* Warna teks yang lebih lembut (muted) */
}
.active {
  color: #d9bf71 !important;
}
/* Add these styles to your existing CSS */

.vgr-cards .vgr-large-card {
  width: 80%; /* Set your desired width */
  margin: 20px auto; /* Center the card and add some margin */
}

.vgr-cards .vgr-large-card .card-img-body {
  height: 300px; /* Set your desired height */
}

.vgr-cards .vgr-large-card .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preserve aspect ratio while covering the full container */
}

@media (max-width: 576px) {
  .vgr-cards .vgr-large-card {
    width: 100%; /* Adjust for smaller screens */
  }
  .vgr-cards .vgr-large-card .card-img-body {
    height: 200px; /* Adjust for smaller screens */
  }
}

.small-list-items {
  font-size: 0.8em; /* Adjust the value as needed */
}
footer {
  background-color: #47146c;
}
.list-unstyled a {
  text-decoration: none;
}

.list-unstyled {
  text-decoration: none;
}
.list a {
  text-decoration: none;
}
/* jarak */
.jarak {
  height: 20px;
}
.jarak_sedang {
  height: 80px;
}
.jarak_jauh {
  height: 100px;
}

.jarak_pendek {
  height: 10px;
}
nav {
  font-family: Source Sans Pro;
}
/* .breadcrumb-item */
.breadcrumb-item.active a,
.breadcrumb-item a.active-link {
  text-decoration: none;
  color: #ff6347; /* Warna teks untuk link aktif */
  font-weight: bolder; /* Opsi: Tambahkan ketebalan teks jika diinginkan */
}
/*LOGO*/
.tulisan_logo {
  font-size: 15px;
}
/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-lg-square,
.btn-sm-square,
.btn-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Navbar ***/

.navbar-expand-lg {
  background: #47146c;
}
.navbar-collapse {
  color: white;
}
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
  padding: 35px 15px;
  color: var(--light);
  outline: none;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: var(--primary);
}

.navbar.fixed-top {
  transition: 0.5s;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav {
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background: var(--dark);
  }

  .navbar .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0 0;
    transition: 0.5s;
    opacity: 0;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
.header-carousel .owl-carousel-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 600px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-carousel .owl-carousel-item p {
    font-size: 16px !important;
  }
}

.header-carousel .owl-nav {
  position: relative;
  width: 80px;
  height: 80px;
  margin: -40px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-carousel .owl-nav::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  transform: rotate(45deg);
}

.header-carousel .owl-nav .owl-next,
.header-carousel .owl-nav .owl-prev {
  position: relative;
  font-size: 40px;
  color: var(--primary);
  transition: 0.5s;
  z-index: 1;
}

.header-carousel .owl-nav .owl-next:hover,
.header-carousel .owl-nav .owl-prev:hover {
  color: var(--dark);
}

.page-header {
  margin-bottom: 6rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/carousel-1.jpg") center center no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}
